<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> PMT Boarding Table</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (keyup.enter)="search(searchForm.value)">            
              <div class="input-group no-border">
                <input type="text" formControlName="searchString" class="form-control"  placeholder="Search..." >
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form> 

           
          <form [formGroup]="sortForm" (ngSubmit)="recordAdd()" class="">
              <div class="row">
                  <div class="col-md-2 pr-1">
                    <div class="form-group">
                      <label for="vehicle_id" class="control-label required">Vehicle</label>
                      <ng-select class="form-control" id="vehicle_id" formControlName="vehicle_id" 
                        [items]="vehicleOptions"
                        bindLabel="text"
                        [virtualScroll]="true"
                        bindValue="id">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-4 px-1">
                    <div class="form-group">
                      <label for="pmt_route_id" class="control-label required">Route</label>
                      <ng-select class="form-control" id="pmt_route_id" formControlName="pmt_route_id"
                        [items]="pmtRouteOptions"
                        bindLabel="text"
                        [virtualScroll]="true"
                        bindValue="id">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label for="departure_date" class="control-label required">Route</label>
                      <input type="date" class="form-control" id="departure_date" formControlName="departure_date">
                    </div>
                  </div>
                  <div class="col-md-2 pl-1">
                    <div class="form-group">
                      <label for="schedule_status" class="control-label required">Status</label>
                      <select class="form-control" formControlName="schedule_status" required>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>                    
                      </div>
                  </div>
                  <div class="col-md-1 pl-1">
                   <button type="submit" [disabled]="!sortForm.valid" rel="tooltip" title="Sort Record" class="btn btn-success">
                      <i class="now-ui-icons ui-1_simple-add"></i> 
                    </button>
                  </div>
              </div>
            </form>
    
            
            <form [formGroup]="addForm" (ngSubmit)="recordAdd()" class="">
                <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label for="customer_id" class="control-label required">Passenger</label>
                        <ng-select class="form-control" id="customer_id" formControlName="customer_id" 
                          [items]="customerOptions"
                          bindLabel="text"
                          [virtualScroll]="true"
                          bindValue="id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-2 px-1">
                      <div class="form-group">
                        <label for="seat_positions" class="control-label required">Seat Positions</label>
                        <ng-select class="form-control" id="seat_positions" formControlName="seat_positions"
                          [items]="seatOptions"
                          bindLabel="text"
                          [virtualScroll]="true"
                          bindValue="id">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-2 px-1">
                      <div class="form-group">
                        <label for="seat_quantity" class="control-label required">Seat Quantity</label>
                        <input type="number" min=1 max=16 class="form-control" id="seat_quantity" formControlName="seat_quantity">
                      </div>
                    </div>
                    <div class="col-md-2 px-1">
                      <div class="form-group">
                        <label for="amount" class="control-label required">Fare</label>
                        <input type="number" class="form-control" id="amount" formControlName="amount">
                      </div>
                    </div>
                    <div class="col-md-1 pl-1">
                     <button type="submit" [disabled]="!addForm.valid" rel="tooltip" title="New Record" class="btn btn-success">
                        <i class="now-ui-icons ui-1_simple-add"></i> 
                      </button>
                    </div>
                </div>
              </form>

            <div class="table-responsive"   *ngIf="currentRecords.length > 0">
              <table class="table table-condensed table-responsive-sm">
                <thead class="text-primary">
                <tr>
                  <th class="text-left">SN</th>
                  <th>Customer</th>
                  <th>Seats</th>
                  <th>Amount</th>
                  <th>Vehicle</th>
                  <th>Route</th>
                  <th>Time</th>
                  <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let record of currentRecords; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ getName(record.customer_id) }}</td>
                  <td>{{ record.seat_quantity }} [{{ record.seat_positions }}]</td>
                  <td>{{ record.amount }}</td>
                  <td>{{ record.pmt_schedule_id.vehicle_id.name }}</td>
                  <td>{{ record.pmt_schedule_id.pmt_route_id.name }}</td>
                  <td>{{ record.pmt_schedule_id.departure_date }}</td>      
                  <td class="td-actions text-right">
                      <button type="button" (click)="recordEdit(record)" rel="tooltip" title="Edit Record" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Record">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                      <button type="button" (click)="recordDelete(record)" rel="tooltip" title="Remove" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    </td>
                </tr>
                </tbody>
            </table>
  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"> New Passengers</h4>
            <p class="category"> Passengers registered today</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Contact Person / Kin</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Mike Rice</td>
                    <td>090272827282</td>
                    <td>mike@testmet.com</td>
                    <td>Aunt Susan, 9708066788</td>
                  </tr>
                  <tr>
                    <td>Nnekka Grace</td>
                    <td>090270827282</td>
                    <td>nneka@testmet.com</td>
                    <td>Uncle UChe, 09708066788</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  